<div class="p-3">
  <div class="card-body">
    <h3>Products Component</h3>
    <div class="table">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
              <button (click)="handleCheckPro(product)" [class]="product.checked ? 'btn btn-outline-success':'btn btn-success'">
              
              </button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
