<div class="p-3">
  <div class="card">
    <div class="card-header">
      <h3>Products</h3>
    </div>

    <div class="card-body">
      <div class="form-group">
        <div class="d-flex">
          <input
            type="text"
            class="form-control w-25"
           [(ngModel)]="appState.productsState.keyword"
          />
          <button
            type="button"
            class="btn btn-primary ms-3 mt-0"
            (click)="getProducts()"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>checked</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of appState.productsState.products">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button
              (click)="handleCheckProduct(product)"
              class="btn btn-outline-success"
            >
              <i
                [class]=" product.checked ? 'bi bi-check-circle' : 'bi bi-circle'"
              ></i>
            </button>
          </td>
          <td>
            <button
              *ngIf="appState.authState.roles.includes('ADMIN')"
              (click)="handleDeleteProduct(product)"
              class="btn btn-outline-danger"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
          <td *ngIf="appState.authState.roles.includes('ADMIN')">
            <button
              (click)="handleEditProduct(product)"
              class="btn btn-outline-warning"
            >
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pagination pagination-md">
          <li
            class="page-item"
            *ngFor="let page of [].constructor(this.appState.productsState.totalPages); let i = index"
          >
            <button
              class="page-link"
              (click)="handleGotoPage(i + 1)"
              [class.active]="this.appState.productsState.currentPage == i + 1"
            >
              {{ i + 1 }}
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
